/Lesson3/nbproject/private/
/Lesson3/build/
/BTVNlesson3-de/nbproject/private/
/BTVNlesson3-de/build/
/testCode/nbproject/private/
/testCode/build/
/BTVNlesson3Kho/nbproject/private/
/BTVNlesson3Kho/build/